/.project
*.txt.user*
builds/*
build/*
output/lib/*
output/include/*
output/bin/*
#exp/*
archives/*
*.autosave

# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*


/.vscode

# QtCtreator CMake
CMakeLists.txt.user
CMakeLists.txt.user.*

logfile.txt
source/.kdev4/
*.kdev4

